body {
	background-image: url("../images/tvs.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-size: 68px;
	text-align: center;
	margin-top: 20px;
}

h2 {
	font-size: 48px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

button {
	background-color: black;
	color: white;
	margin: 10px;
}

form {
	position: absolute;
	right: 30px;
	margin: 10px;
}

#gifs-section {
	margin-top: 70px;
}

.combo {
	float: left;
}

div,
label,
input,
p {
      margin: 10px;
    }

